<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vue.js and API using Axios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <link href="styles.css" rel="stylesheet" type="text/css">
    <!-- Call Vue.js via CDN for templating -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
    <!-- Call the Vue.js router via unpkg -->
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
    <!-- Call Axios via CDN for API calls -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
</head>

<body>
    <div id="app">
        <template>
            <section v-if="errored">
                <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
            </section>
            <section v-if="info">
                <h1>NASA Astronomy Picture of the Day</h1>
                <h2>{{ info.data.date }}</h2>
                <div id="wrapper">
                    <div id="daily-image">
                        <a v-bind:href="info.data.url">
                            <iframe v-bind:src="info.data.url" title="NASA AStronomy Picture of the day"></iframe>
                        </a>
                    </div>
                    <div id="information">
                        <h3>{{  info.data.title }}</h3>
                        <p>{{ info.data.explanation }}</p>
                    </div>
                </div>
                <footer>All text and images are from and owned by NASA</footer>
                <h2 class="info">Raw data from the API call (remove when you are done developing this page)</h2>
                <pre class="info">{{ info }}</pre>
            </section>
        </template>
    </div>

    <script>
        var router = new VueRouter({
            mode: 'history',
            routes: []
        });
        new Vue({
            el: '#app',
            router,
            data() {
                return {
                    info: null,
                    loading: true,
                    errored: false
                }
            },
            mounted() {
                axios
                    // NASA Astronomy Picture of the Day - https://api.nasa.gov/

                    .get("https://api.nasa.gov/planetary/apod?api_key=VFj3qTVWsUYdYNG63jT9Hiq20zjddC6HCPomSWzh")

                    .then(response => {
                        this.info = response
                        console.log(response)
                    })
                    .catch(error => {
                        console.log(error)
                        this.errored = true
                    })
                    .finally(() => this.loading = false)
            }
        })
    </script>
</body>

</html>