/* Mobile Stylesheets */
body,
html {
    padding: 0;
    margin: 0;
    background-color: #0e1014;
    color: #FFFFFF;
}

#wrapper {
    margin: 0.3rem;
}

h1,
h2,
h3 {
    text-align: center;
}

a {
    display: grid;
    place-items: center;
}

img {
    width: 20em;
    height: auto;
    border: outset rgb(105, 105, 105) 4px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
    padding: 0.3rem;
}

.info {
    display: none; 
}
/* Tablet Stylesheets */
@media only screen and (min-width: 480px) {
    img {
        width: 45em;
        height: auto;
    }
}

/* Desktop Stylesheets */
@media only screen and (min-width: 1025px) {
    #app {
        margin: auto;
        width: 80em;
    }

    #wrapper {
        display: grid;
        grid-template-columns: auto auto auto auto;
        place-items: center;
        padding: 1em;
        border: solid #FFFFFF 2px;
    }

    #daily-image {
        grid-column: 1 / span 3;
    }

    img,
    a {
        width: 40em;
        height: auto;
        margin: auto;
    }

    p {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }
}